.player-container{
  background-color: orange;
  font-family: cursive;
}
.start-container{
  background-color: lightblue;
  text-align: center;
  font-family: Georgia;
}
#player1-hold,
#player2-hold{
  display: none;
}
